<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="~{layout/plantilla :: head}">

        <title>MODAVERSE</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div class="row">
            <div class="col">
                <h3>Productos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" placeholder="Buscar Producto"/>
            </div>   
        </div>
        

        <!-- Botón para abrir el modal de agregar -->
        <div class="text-center mb-4">
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
                Agregar Producto
            </button>
        </div>


        <footer th:replace="~{layout/plantilla :: footer}"> </footer>   
    </body>
</html>
