<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="~{layout/plantilla :: head}">

        <title>MODAVERSE</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>



        <div class="container">
            <div class="row bt-2">
                <div class="col">
                    <h2>Lista de Productos</h2>
                </div>
                <div class="col">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
               
            </div> 
            <div class="row mb-5">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/img/tennis.png}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tennis New Balance</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                <p class="card-text">20.000</p>
                                <a href="#" class="btn btn-primary">Agregar al carrito</a>
                            </div>
                    </div>
                </div>
               
            </div> 
        </div>



        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
