<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="~{layout/plantilla :: head}">

        <title>MODAVERSE</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="container my-5">
            <div class="row mb-4">
                <div class="col text-center">
                    <h2 class="fw-bold">Reporte de Ventas</h2>
                </div>
            </div>

            <div class="row justify-content-center g-4 m-4">
                <div class="col-md-4 col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-4 m-4">
                <div class="col-md-4 col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3">
                    <div class="card shadow rounded-4 h-100">
                        <div class="card-body">
                            <h5 class="card-title">ID VENTA: XXX</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Descripción</h6>
                            <p class="card-text">Fecha de Creación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>
