<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout/plantilla :: head}">

    <title>MODAVERSE</title>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}" />



    <div class="container">
        <div class="row m-3 justify-content-center">
            <div class="col-6 text-center">
                <h2>Inicio de Sesión</h2>

                <h6>Usuario:</h6>
                <input type="email" class="form-control mb-3" placeholder="Ingresa tu correo" />

                <h6>Contraseña:</h6>
                <input type="password" class="form-control mb-3" placeholder="Ingresa tu contraseña" />

                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>

                <p class="mt-3">Aún no tienes cuenta?</p>
                <a th:href="@{/usuario/registroUsuario}" class="text-decoration-none">Regístrate aquí</a>
            </div>
        </div>
    </div>



    <footer th:replace="~{layout/plantilla :: footer}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>
